.loginBox {
    text-align: left;
    width: 400px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.loginBox h1 {
    text-align: center;
}

.login-input {
    margin: 10px 0;
    display: block;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    transition: 200ms;
}

.login-input:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.loginBox button {
    display: block;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 200ms;
}

.loginBox button:hover{
    background: rgba(255, 255, 255, 0.3);
}